<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CS480 Demo</display-name>
  
<servlet>
    <description></description>
    <display-name>InfractionsServletCreate</display-name>
    <servlet-name>InfractionsServletCreate</servlet-name>
    <servlet-class>infractions.web.servlet.IEntityServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfractionsServletCreate</servlet-name>
    <url-pattern>/InfractionsServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>InfractionsServletRead</display-name>
    <servlet-name>InfractionsServletRead</servlet-name>
    <servlet-class>infractions.web.servlet.IEntityServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfractionsServletRead</servlet-name>
    <url-pattern>/InfractionsServletRead</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>InfractionsServletUpdate</display-name>
    <servlet-name>InfractionsServletUpdate</servlet-name>
    <servlet-class>infractions.web.servlet.IEntityServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfractionsServletUpdate</servlet-name>
    <url-pattern>/InfractionsServletUpdate</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>InfractionsServletDelete</display-name>
    <servlet-name>InfractionsServletDelete</servlet-name>
    <servlet-class>infractions.web.servlet.IEntityServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfractionsServletDelete</servlet-name>
    <url-pattern>/InfractionsServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ForceTypesServletCreate</display-name>
    <servlet-name>ForceTypesServletCreate</servlet-name>
    <servlet-class>forcetype.web.servlet.FTEntityServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForceTypesServletCreate</servlet-name>
    <url-pattern>/ForceTypesServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ForceTypesServletRead</display-name>
    <servlet-name>ForceTypesServletRead</servlet-name>
    <servlet-class>forcetype.web.servlet.FTEntityServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForceTypesServletRead</servlet-name>
    <url-pattern>/ForceTypesServletRead</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>ForceTypesServletUpdate</display-name>
    <servlet-name>ForceTypesServletUpdate</servlet-name>
    <servlet-class>forcetype.web.servlet.FTEntityServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForceTypesServletUpdate</servlet-name>
    <url-pattern>/ForceTypesServletUpdate</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>ForceTypesServletDelete</display-name>
    <servlet-name>ForceTypesServletDelete</servlet-name>
    <servlet-class>forcetype.web.servlet.FTEntityServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForceTypesServletDelete</servlet-name>
    <url-pattern>/ForceTypesServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>PoliceOfficersServletCreate</display-name>
    <servlet-name>PoliceOfficersServletCreate</servlet-name>
    <servlet-class>policeofficers.web.servlet.POEntityServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PoliceOfficersServletCreate</servlet-name>
    <url-pattern>/PoliceOfficersServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>PoliceOfficersServletRead</display-name>
    <servlet-name>PoliceOfficersServletRead</servlet-name>
    <servlet-class>policeofficers.web.servlet.POEntityServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PoliceOfficersServletRead</servlet-name>
    <url-pattern>/PoliceOfficersServletRead</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>PoliceOfficersServletUpdate</display-name>
    <servlet-name>PoliceOfficersServletUpdate</servlet-name>
    <servlet-class>policeofficers.web.servlet.POEntityServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PoliceOfficersServletUpdate</servlet-name>
    <url-pattern>/PoliceOfficersServletUpdate</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>PoliceOfficersServletDelete</display-name>
    <servlet-name>PoliceOfficersServletDelete</servlet-name>
    <servlet-class>policeofficers.web.servlet.POEntityServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PoliceOfficersServletDelete</servlet-name>
    <url-pattern>/PoliceOfficersServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>VictimsServletCreate</display-name>
    <servlet-name>VictimsServletCreate</servlet-name>
    <servlet-class>victims.web.servlet.VEntityServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VictimsServletCreate</servlet-name>
    <url-pattern>/VictimsServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>VictimsServletRead</display-name>
    <servlet-name>VictimsServletRead</servlet-name>
    <servlet-class>victims.web.servlet.VEntityServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VictimsServletRead</servlet-name>
    <url-pattern>/VictimsServletRead</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>VictimsServletUpdate</display-name>
    <servlet-name>VictimsServletUpdate</servlet-name>
    <servlet-class>victims.web.servlet.VEntityServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VictimsServletUpdate</servlet-name>
    <url-pattern>/VictimsServletUpdate</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>VictimsServletDelete</display-name>
    <servlet-name>VictimsServletDelete</servlet-name>
    <servlet-class>victims.web.servlet.VEntityServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VictimsServletDelete</servlet-name>
    <url-pattern>/VictimsServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UserServletRegister</display-name>
    <servlet-name>UserServletRegister</servlet-name>
    <servlet-class>user.web.servlet.UserServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletRegister</servlet-name>
    <url-pattern>/UserServletRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServletLogin</display-name>
    <servlet-name>UserServletLogin</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogin</servlet-name>
    <url-pattern>/UserServletLogin</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>UserServletLogout</display-name>
    <servlet-name>UserServletLogout</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogout</servlet-name>
    <url-pattern>/UserServletLogout</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>findAll</display-name>
    <servlet-name>findAll</servlet-name>
    
    <servlet-class>user.web.servlet.findAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAll</servlet-name>
    <url-pattern>/findAll</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>q1</display-name>
    <servlet-name>q1</servlet-name>
    
    <servlet-class>policeofficers.web.servlet.q1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>q1</servlet-name>
    <url-pattern>/q1</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>q2</display-name>
    <servlet-name>q2</servlet-name>
    
    <servlet-class>victims.web.servlet.q2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>q2</servlet-name>
    <url-pattern>/q2</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>q3</display-name>
    <servlet-name>q3</servlet-name>
    
    <servlet-class>victims.web.servlet.q3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>q3</servlet-name>
    <url-pattern>/q3</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>q4</display-name>
    <servlet-name>q4</servlet-name>
    
    <servlet-class>infractions.web.servlet.q4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>q4</servlet-name>
    <url-pattern>/q4</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>q5</display-name>
    <servlet-name>q5</servlet-name>
    
    <servlet-class>infractions.web.servlet.q5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>q5</servlet-name>
    <url-pattern>/q5</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>q6</display-name>
    <servlet-name>q6</servlet-name>
    
    <servlet-class>infractions.web.servlet.q6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>q6</servlet-name>
    <url-pattern>/q6</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>q8</display-name>
    <servlet-name>q8</servlet-name>
    
    <servlet-class>infractions.web.servlet.q8</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>q8</servlet-name>
    <url-pattern>/q8</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
